@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.a {
  color: rgb(255, 255, 255);
}

.a:hover {
  cursor: pointer;
  color: rgba(233, 136, 10, 0.61);
}

.tela {
  background-image: url("../assets/img/Background02.jpg");
  background-size: cover;
}
.todo {
  background-color: #ffffff;
  height: 100vh;
}

fieldset {
  border-color: aliceblue !important;
  color: aliceblue !important;
}

input {
  color: aliceblue !important;
}

label {
  color: rgba(240, 248, 255, 0.651) !important;
}

.entrar:hover {
  background-color: #cb4204 !important;
  color: aliceblue !important;
}

.login,
.cadastro {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

.visibility {
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #00010c !important;
    color: rgb(255, 255, 255) !important;
  }

  button:hover {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 450px) {
  .cardlogin {
    height: 40% !important;
    right: 15% !important;
    top: 25% !important;
  }
  .cardbacklogin {
    display: none !important;
  }
}
